
<div class="row card-group">
<div class="col-md-6 h-100" style="float: left; min-height:100%"> 
    <div class="card">
        <div class="card-header">
            <a href="/ingame"><button class="btn ml-2 mt-2 mr-4" style="background-color: #ff6d05; color: #fff; float: left;">Volver InGame</button></a>
            <h3>New Activity</h3>
        </div>
        <div class="card-body">
            <form action="/ingame/edit-activity?__method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="__method" value="PUT">
                <h5>Name</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="name" value="" aria-label="Sizing example input" placeholder="Some name to your activity" aria-describedby="inputGroup-sizing-default">
                </div>
                <h5>Description</h5>
                <div class="input-group mb-3">
                    <textarea name="descripcion" id="descripcion" class="form-control" placeholder="Put some description to your activity"></textarea>
                </div>

                <h5>Recursos Adicionales</h5>
                <div class="input-group mb-4">
                    <label class="input-group-text" for="inputGroupFile02">EXPLORE</label>
                    <input type="file" name="file" class="form-control" id="inputGroupFile02">
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-block btnvolver">
                        Create Activity
                    </button>
                </div>

        </div>
    </div>
</div>

<div class="col-md-6" style="float: left;">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Select a Boss</h3>
        </div>
        <img class="card-img" src="/img/mazmorra2.jpg">
        <div class="card-body card-img-overlay">
            <div class="check-colours ml-5 mt-5">
				<div>
						<input class="check-colour" type="radio" name="bossSelect" id="monolila" value="/img/skins/monolila.png">
						<label for="monolila" class="mr-4 mt-2 gelatine"><img src="/img/skins/monolila.png" width="150px"></label>
				</div>
				<div>
						<input class="check-colour" type="radio" name="bossSelect" id="pobre" value="/img/skins/pobre.png">
						<label for="pobre" class="mr-4 mt-2 gelatine"><img src="/img/skins/pobre.png" width="150px"></label>
				</div>
				<div>
						<input class="check-colour" type="radio" name="bossSelect" id="chicasexy" value="/img/skins/chicasexy.png">
						<label for="chicasexy" class="mr-4 mt-2 gelatine"><img src="/img/skins/chicasexy.png" width="165px"></label>
				</div>

                <div>
						<input class="check-colour" type="radio" name="bossSelect" id="princesa" value="/img/skins/princesa.png">
						<label for="princesa" class="mr-4 gelatine"><img src="/img/skins/princesa.png" width="165px"></label>
				</div>  
        
		</div>
                
            </form>

        </div>
    </div>
</div>
</div>