<div class="row card-group">
<div class="col-md-6 h-100" style="float: left; min-height:100%; padding:25px;"> 
    <div class="card" style="min-height: 100%;">
        <div class="card-header">
            <a href="/ingame"><button class="btn ml-2 mt-2 mr-4" style="background-color: #ff6d05; color: #fff; float: left;">Volver InGame</button></a>
            <h3>New Test</h3>
        </div>
        <div class="card-body">
            <form action="/ingame/new-activity?__method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="__method" value="PUT">
                <h5>Type Of Activity</h5>
                <div class="mb-3" style="display:inline-block;">
                   <input type="radio" name="estest" id="entrega" value="entrega" style="display: inline-block;" required checked>
                    <label for="entrega" style="display: inline-block; margin-top: -0.3rem;" class="ml-2">Entrega</label>
                </div>
                <div class="mb-3" style="display:inline-block;">
                   <a href="/"><input type="radio" name="estest" id="test" value="entrega" style="display: inline-block;" checked></a>
                    <label for="test" style="display: inline-block; margin-top: -0.3rem;" class="ml-2">Test</label>
                </div>

                <h5>Name</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="name" value="" aria-label="Sizing example input" placeholder="Some name to your activity" aria-describedby="inputGroup-sizing-default" minlength="1" required>
                </div>
                <h5>Description</h5>
                <div class="input-group mb-3">
                    <textarea name="descripcion" id="descripcion" class="form-control" placeholder="Put some description to your activity" maxlength="200"></textarea>
                </div>

                <h5>Type</h5>
                <div class="mb-3" style="display:inline-block;">
                   <input type="radio" name="typeActivity" id="individual" value="individual" style="display: inline-block;" required>
                    <label for="individual" style="display: inline-block; margin-top: -0.3rem;" class="ml-2">individual</label>
                </div>
                <div class="mb-3" style="display:inline-block;">
                   <input type="radio" name="typeActivity" id="group" value="group" style="display: inline-block;">
                    <label for="group" style="display: inline-block; margin-top: -0.3rem;" class="ml-2">group</label>
                </div>
                <h5>Limit Date</h5>
                <p style="font-size: 10px; margin-bottom: 1px;"><k>Coloca 0 para no tener fecha limite</k></p>    
                <div class="input-group mb-3">
                    <span class="input-group-text">Date:</span>                    
                    <input type="text" class="form-control" name="diamax" placeholder="Dia Maximo" aria-label="Dia Maximo De Entrega" required>
                    <span class="input-group-text">/</span>
                    <input type="text" class="form-control" name="mesmax" placeholder="Mes Maximo" aria-label="Mes Maximo de Entrega" required>
                    <span class="input-group-text">/</span>
                    <input type="text" class="form-control" name="yearmax" placeholder="Año maximo" aria-label="Año maximo" readonly value="2021">
                </div>
                
                <h5>Preguntas</h5>
                <p>Aqui puedes añadir todas las preguntas y respuestas que quieras.</p>
                <hr>
                <h6>Pregunta 1</h6>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="pregunta1" value="" aria-label="Sizing example input" placeholder="Pregunta 1" aria-describedby="inputGroup-sizing-default" minlength="1" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btnvolver">
                        Create Activity
                    </button>
                </div>

        </div>
    </div>
</div>

<div class="col-md-6" style="padding:25px;">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Select a Boss</h3>
        </div>
        <img class="card-img" src="/img/mazmorra2.jpg" style="height: 100%;">
        <div class="card-body card-img-overlay" style="background-size: 100%;">
            <div class="check-colours ml-5 mt-5" style="flaot:left;">
				<div>
						<input class="check-colour" type="radio" name="bossSelect" id="monolila" value="/img/bosses/bruja.png">
						<label for="monolila" class="mr-4 mt-2 mb-2 gelatine"><img src="/img/bosses/bruja.png" width="140px"></label>
				</div>
				<div>
						<input class="check-colour" type="radio" name="bossSelect" id="pobre" value="/img/bosses/oni.png">
						<label for="pobre" class="mr-4 mt-2 mb-2 gelatine"><img src="/img/bosses/oni.png" width="140px"></label>
				</div>
				<div>
						<input class="check-colour" type="radio" name="bossSelect" id="chicasexy" value="/img/bosses/hada.png">
						<label for="chicasexy" class="mr-4 mt-2 mb-2 gelatine"><img src="/img/bosses/hada.png" width="150px"></label>
				</div>

                <div style="float:left;">
						<input class="check-colour" type="radio" name="bossSelect" id="dragon" value="/img/bosses/dragon.png">
						<label for="dragon" class="mr-4 mt-2 mb-2 gelatine" style="display: inline-block;"><img src="/img/bosses/dragon.png" width="200px" style="float:left;"></label>
				</div>  
        
                <div style="float:left;">
						<input class="check-colour" type="radio" name="bossSelect" id="angelcaido" value="/img/bosses/angelcaido.png">
						<label for="angelcaido" class="mt-2 mb-2 gelatine"><img src="/img/bosses/angelcaido.png" width="150px" style="float:left;"></label>
				</div>  
		</div>
                
            </form>

        </div>
    </div>
</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
$('input[id="entrega"]').on('click', function() {
     window.location = "/ingame/new-activity";
});
</script>