<nav style="background-color: white;">
<a href="/ingame"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver Atras</button></a>
</nav>

<div class="col-md-6 mx-auto mt-3">
    <div class="card">
        <div class="card-header">
            <h3>Opciones Generales</h3>
        </div>
        <div class="card-body">
            <form action="/ingame/gameSettings?__method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="__method" value="PUT">
                <h5>Clase Virtual</h5>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Link:</span>
                    <input type="text" class="form-control" name="linkmeet" value="{{game.linkmeet}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>

                <h5>Tipo de Mapa</h5>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Opciones</label>
                    <select class="form-select" id="inputGroupSelect01" name="mapa">
                        <option selected value="ningunoElegido">Elige uno...</option>
                        <option value="/img/background-hero.png">Cartográfico</option>
                        <option value="/img/fantasyMap.png">Fantasia</option>
                    </select>
                </div>

                <h5>Notas/Posits</h5>
                {{#if game.notes}}
                <div class="mb-3" style="display:inline-block;">
                   <input type="radio" name="notesact" id="activado" value="activado" style="display: inline-block;" required checked>
                    <label for="activado" style="display: inline-block; margin-top: -0.3rem;" class="ml-2">Activado</label>
                </div>
                <div class="mb-3" style="display:inline-block;">
                    <input type="radio" name="notesact" id="desactivado" value="desactivado" style="display: inline-block;">
                    <label for="desactivado" style="display: inline-block; margin-top: -0.3rem;" class="ml-2">Desactivado</label>
                </div>
                {{else}}
                <div class="mb-3" style="display:inline-block;">
                   <input type="radio" name="notesact" id="activado" value="activado" style="display: inline-block;" required>
                    <label for="activado" style="display: inline-block; margin-top: -0.3rem;" class="ml-2">Activado</label>
                </div>
                <div class="mb-3" style="display:inline-block;">
                    <input type="radio" name="notesact" id="desactivado" value="desactivado" style="display: inline-block;" checked>
                    <label for="desactivado" style="display: inline-block; margin-top: -0.3rem;" class="ml-2">Desactivado</label>
                </div>
                {{/if}}
                
                <div class="form-group">
                    <button type="submit" class="btn btn-block btnvolver">
                        Guardar Opciones
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>