<div class="container">
<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, impedit. Ipsa minus veniam vitae rerum eaque! 
        Tempore modi laudantium sed harum tempora, fuga soluta! Magni, reiciendis excepturi illum assumenda iure possimus! 
        Error dolorum ipsa reprehenderit magni obcaecati a autem porro.</p>
    </div>
</div>
</div>