<div class="float-lg-right fixed-bottom">

   <div class="circuloflecha" title="Top of Page">
<i class="fas fa-sort-up" style="font-size: 30px; margin-top: 2rem;"></i>
 </div>
</div>
<nav id="navTop"class="navbar navbar-expand-lg container navbar-dark" style="z-index: 999999;">

<div class="container" style="font-size: 14px;">
    <div class="container-fluid">

    {{!-- Respective Menu --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- Main Menu --}}
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand " href="/"><img src="/img/LogoEspectre.png" width="80px"></a>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item p-4">
          <a class="nav-link" style="color:#ff7f22;" href="#quienesomos"><u>¿QUIENES SOMOS?</u></a>
        </li>
        <li class="nav-item p-4">
          <a class="nav-link" style="color:#ff7f22;" href="#espectre"><u>ESPECTRE</u></a>
        </li>
        <li class="nav-item p-4">
          <a class="nav-link" style="color:#ff7f22;" href="#comojugar"><u>COMO JUGAR</u></a>
        </li>
        <li class="nav-item p-4">
          <a class="nav-link" style="color:#ff7f22;" href="#porque"><u>¿PORQUE?</u></a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: orangered;">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/ingame">InGame</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
          </ul>
        </li>
        {{else}}
        <li class="nav-item">
          <a type="button" class="btn btnlog mr-1" href="../users/signin"><span class="fas fa-user">&nbsp;</span>Login</a>
        </li>
        <li class="nav-item">
          <a type="button" href="/users/signup" type="button" class="btn btnreg"><span class="fas fa-sign-in-alt">&nbsp;</span>Sign Up</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
</nav>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div style="position: absolute; z-index: 999999; margin-left: 95%; margin-top: 12%;">
    <a href="#"><div class="circulo">
      <i class="fab fa-instagram" style="margin-left: 12px; margin-top:10px; font-size: 30px"></i>
    </div></a>

    <a href="#"><div class="circulo mt-4">
      <i class="fab fa-twitter" style="margin-left: 12px; margin-top:10px; font-size: 30px"></i>
    </div></a>

    <a href="#"><div class="circulo mt-4">
      <i class="fab fa-facebook" style="margin-left: 12px; margin-top:10px; font-size: 30px"></i>
    </div></a>
  </div>
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
    
    <div class="carousel-inner">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://img.8wallpapers.com/uploads/2018/10/1935fcc1b7374461b43b52ad.jpg')">
          <img src="/img/sentado.png" style="position: absolute; margin-left: 2%; float: left; left: 10px; bottom: 10px;" width="150px" class="d-none d-md-block">

        <div class="carousel-caption d-none d-md-block" style="margin-bottom: 6rem;">

          <img src="/img/LogoMain.png" width="450px" class="logoEspectre text-center">
          <h2 class="display-4" style="background: -webkit-linear-gradient(white, #ff7f22); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Espectre The Game</h2>

          <p class="lead"><a href="/users/signup"><button class="btnvolver" style="border-color: transparent; border-radius:5px;">Empieza la Aventura</button></a></p>
        </div>

      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://cdna.artstation.com/p/assets/images/images/027/352/878/4k/tyler-edlin-castle-for-web.jpg?1591286884')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-5">¿Tu escuela aun no usa Espectre?</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.alphacoders.com/438/thumb-1920-438767.png')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Third Slide</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<div id="quienesomos" class="overflow-hidden bg-light" data-image-src="/img/bg-1.png" 
style="background-image: url(/img/bg-1.png)">

<div class="text-center" data-aos="fade-up" data-aos-delay="200">
  <div class="onepagem">
  <div class="col-md-6 p-5 my-5 mx-auto">
      
      <h1 class="onepaget">¿QUIENES SOMOS?</h1>
        <p>Bubbleby es una empresa joven e innovadora que se basa en tres grandes sectores: <u>la ciberseguridad, la domótica y la enseñanza.</u> <br/>
          <br/>Pretendemos integrar al máximo posible las dos primeras tanto para ayudar a dinamizar las clases como para aportar soluciones a alumnos 
          con necesidades especiales de todo tipo, incluyendo aquellos alumnos que necesitan refuerzos y a los que se benefician con una
          ampliación del contenido.</p>
    </div>
      <div class="poweredbybubble float-lg-left"><img src="/img/Powered.png"></div>
  </div>
</div>
</div>

<div id="espectre" class="overflow-hidden text-center bg-light" data-image-src="/img/background-hero2" 
style="background-image: url(/img/background-hero2)">
<div class="onepagew" data-aos="fade-left" data-aos-delay="200">
  <div class="p-lg-5 my-5">
    <div class="descripcionesinversa">
      <h1>ESPECTRE</h1>
      <p>Espectre es nuestra herramienta número uno enfocada en la educación dinámica en las aulas. El modelo de aprendizaje se basa en el trabajo en equipo, 
        el desarrollo de estrategias 
        y la bonificación por la buena realización de las tareas y exámenes propuestos por los profesores.</p>
    </div>
      <img class="apartadosdiscleft" src="/img/bannerEspectre.png">
  </div>
</div>
</div>

<div id="comojugar" class="overflow-hidden bg-light" data-image-src="/img/bg-1.png" 
style="background-image: url(/img/bg-1.png)">

<div class="text-center" data-aos="fade-up" data-aos-delay="200">
  <div class="onepagem">
  <div class="col-md-6 p-5 my-5 mx-auto">
      
      <h1 class="onepaget">COMO JUGAR ESPECTRE</h1>
        <p>Quienes se sumerjan en esta aventura deberán tener en mente algunos conceptos clave, estan todos resumidos en un PDF.<br/>
          <br/>Descargalo Aqui:
          <br/><a href="/conceptosBasicos.pdf" download="ConceptosBasicosEspectre.pdf">
          <br/><button class="btn btnvolver btn-lg" >Descargar Conceptos Basicos</button>
          </p></a>
    </div>
  </div>
</div>
</div>

<div id="porque" class="overflow-hidden text-center bg-light" data-image-src="/img/background-hero2" 
style="background-image: url(/img/background-hero2)">
<div class="onepagew" data-aos="fade-left" data-aos-delay="200">
  <div class="p-lg-5 my-5">
    <div class="descripcionesinversa">
      <h1>¿PORQUE?</h1>
      <p>Espectre nace con la intención de enseñar a los alumnos de una forma divertida la historia de la seguridad informática atraves de la immersión de los estudiantes en un juego interactivo con mensajes ocultos, actividades de encriptación y bonficación por realizar buenas tareas.</p></td>
    </div>
      <img class="apartadosdiscleft" src="/img/background-hero.png">
  </div>
</div>
</div>

<div id="sobrenosotros" class="overflow-hidden bg-light" data-image-src="/img/bg-1.png" 
style="background-image: url(/img/bg-1.png)">

<div data-aos="fade-up" data-aos-delay="500">
  <div class="onepagem text-center">
  <div class="col-md-6 p-lg-5 my-5">
      <div class="descripciones">
      <h1 class="onepaget">SOBRE NOSOTROS</h1>
        <p>El equipo detrás de Espectre está compuesto por tres estudiantes leridanos de <u>Sistemas Microinformáticos y Redes</u> de 17 Años con una gran iniciativa emprendedora y ganas de mejorar la educación con sus conocimientos.

          <div class="cartasfinal">
          <div class="contenedor">
          <div class="carta">
              <div class="lado frente"><img src="/img/Ignacio.jpg"></div>
              <div class="lado atras">
                <h4>Ignacio Godino</h4><hr>
                <p><img src="/img/github.png" width="25px" height="25px">&nbsp;&nbsp;<a href="https://github.com/Ekon16">Ekon16</a></p><hr>
                <p class="desctarjetas">Soy un estudiante de<br/> SMX2-M y me gusta <br/>la ciberseguridad,<br/>Docker y Snort</p><br/><hr>
              </div>
          </div>
        </div>

        <div class="contenedor">
          <div class="carta">
              <div class="lado frente"><img src="/img/Alex.jpg"></div>
              <div class="lado atras">
                <h4>Alex Madrigal</h4><hr>
                <p><img src="/img/github.png" width="25px" height="25px">&nbsp;&nbsp;<a href="https://github.com/AlexMadrigalAlriols">AlexMadrigalAlriols</a></p><hr>
                <p class="desctarjetas">Soy un estudiante de<br/> SMX2-M y me encanta <br/>la programación y el<br/>lenguaje de marcas.</p><br/><hr>
              </div>
          </div>
        </div>

        <div class="contenedor">
          <div class="carta">
              <div class="lado frente"> <img src="/img/Alba.PNG"></div>
              <div class="lado atras">
                <h4>Alba Serrano</h4><hr>
                <p><img src="/img/github.png" width="25px" height="25px">&nbsp;&nbsp;<a href="https://github.com/GoodLvck">GoodLvck</a></p><hr>
                <p class="desctarjetas">Soy un ping&uuml;ino de<br/> SMX2-M y me encanta <br/>la ciberseguridad y el<br/>scutre</p><br/><hr>
              </div>

              </div>
          </div>
      </div>
      </p>
    </div>
  </div>
          </div>
</div>
</div>

