<div class="float-lg-right fixed-bottom">

   <div class="circuloflecha" title="Top of Page">
<i class="fas fa-sort-up" style="font-size: 30px; margin-top: 2rem;"></i>
 </div>
</div>
<nav id="navTop"class="navbar navbar-expand-lg container navbar-dark" style="z-index: 999999;">

<div class="container" style="font-size: 14px;">
    <div class="container-fluid">

    {{!-- Respective Menu --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- Main Menu --}}
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand " href="/"><img src="/img/logomainp.png" width="70px" class="elastic-spin"></a>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item p-4">
          <a class="nav-link" style="color:#ff6d05;" href="#quienesomos"><u>¿QUIENES SOMOS?</u></a>
        </li>
        <li class="nav-item p-4">
          <a class="nav-link" style="color:#ff6d05;" href="#espectre"><u>CIMEX</u></a>
        </li>
        <li class="nav-item p-4">
          <a class="nav-link" style="color:#ff6d05;" href="#comojugar"><u>COMO JUGAR</u></a>
        </li>
        <li class="nav-item p-4">
          <a class="nav-link" style="color:#ff6d05;" href="#porque"><u>¿PORQUE?</u></a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <div class="btn-group">
          <a href="/ingame"><button type="button" class="btn btnvolver">Entrar Clase <i class="fas fa-chalkboard"></i></button></a>
          <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/ingame">Entrar Clase <i class="fas fa-chalkboard"></i></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/users/logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>
          </ul>
        </div>
        {{else}}
        <li class="nav-item">
          <a type="button" class="btn btnlog mr-1" href="../users/signin"><span class="fas fa-user">&nbsp;</span>Entrar</a>
        </li>
        <li class="nav-item">
          <a type="button" href="/users/signup" type="button" class="btn btnreg"><span class="fas fa-sign-in-alt">&nbsp;</span>Registro</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
</nav>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div style="position: absolute; z-index: 999999; right:5px; margin-top: 12%; float:right;">
    <a href="#"><div class="circulo">
      <a href="https://www.instagram.com/espectrethegame/" target="__blank"><i class="fab fa-instagram" style="margin-left: 12px; margin-top:10px; font-size: 30px"></i></a>
    </div></a>

    <a href="#"><div class="circulo mt-4">
      <i class="fab fa-twitter" style="margin-left: 12px; margin-top:10px; font-size: 30px"></i>
    </div></a>

    <a href="#"><div class="circulo mt-4">
      <i class="fab fa-facebook" style="margin-left: 12px; margin-top:10px; font-size: 30px"></i>
    </div></a>
  </div>
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
    
    <div class="carousel-inner">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://img.8wallpapers.com/uploads/2018/10/1935fcc1b7374461b43b52ad.jpg')">
          <img src="/img/sentado.png" style="position: absolute; margin-left: 2%; float: left; left: 10px; bottom: 10px;" width="150px" class="d-none d-md-block">

        <div class="carousel-caption d-none d-md-block carouselMain">

          <img src="/img/logomainp.png" width="290px" class="logoEspectre text-center">
          <h2 class="display-4" style="background: -webkit-linear-gradient(white, #ff6d05); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Cimex The Game</h2>

          <p class="lead"><a href="/users/signup"><button class="btnvolver" style="border-color: transparent; border-radius:5px;">Empieza la Aventura</button></a></p>
        </div>

      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://i.pinimg.com/originals/60/ab/bc/60abbc84b1e3e4864c43e16f511666f4.jpg')">
        <img src="img/colgado.png" width="150px" style="top: 5.5rem; right: 30px; float: right; position: absolute;" class="d-none d-md-block">
        <div class="carousel-caption d-none d-md-block" style="top: 9rem;">
          <h2 class="display-4" style="background: -webkit-linear-gradient(white, #ff7f22); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Aprende a jugar a Cimex</h2>
        </div>
        <div class="carousel-caption d-none d-md-block" style="top: 15rem;">
          <p class="lead" style="top: 15rem;">Quienes se sumerjan en esta aventura deberán tener en mente algunos conceptos clave, estan todos resumidos en una web.</p>
        </div>
        <div class="carousel-caption d-none d-md-block" style="top: 25rem;">
          <p class="lead"><a href="/users/signup"><a href="https://espectrethegame.gitbook.io/conceptos-basicos/">
          <br/><button class="btn btnvolver btn-lg" >Ir a Conceptos Basicos</button>
          </p></a></a></p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3d733837-eae3-48b0-883b-955ce7172d8a/d7frxey-d51bdc42-b304-429d-8e32-f49d0abbd033.png/v1/fill/w_1264,h_632,q_70,strp/new_homeland_by_frankatt_d7frxey-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD02NDAiLCJwYXRoIjoiXC9mXC8zZDczMzgzNy1lYWUzLTQ4YjAtODgzYi05NTVjZTcxNzJkOGFcL2Q3ZnJ4ZXktZDUxYmRjNDItYjMwNC00MjlkLThlMzItZjQ5ZDBhYmJkMDMzLnBuZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.aZgsokG8xv1sr75ypcgK35mr5w5nEi-MEeH9QkS8MbU')">
                  <img src="/img/profesor.png" style="position: absolute; margin-left: 2%; float: left; left: 10px; bottom: 10px;" width="250px" class="d-none d-md-block">
        <div class="carousel-caption d-none d-md-block" style="top: 25%;">
          <h2 class="display-4">¿Tu escuela aun no usa Cimex?</h2></br>
          <p class="lead">Prepara tu escuela para el aprendizaje mediante juegos. Estamos aquí para ayudar a su escuela en la transición a Cimex The Game. Estandarice la forma en que sus profesores imparten lecciones.</p>
        </div>
        
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<div id="quienesomos" class="overflow-hidden bg-light" data-image-src="/img/bg-1.png" 
style="background-image: url(/img/bg-1.png)">

<div class="text-center" data-aos="fade-up" data-aos-delay="200">
  <div class="onepagem">
  <div class="col-md-6 p-5 my-5 mx-auto">
      
      <h1 class="onepaget">¿QUIENES SOMOS?</h1>
        <p>Somos tres alumnos de Informatica y Redes que:<br/>
          <br/>Pretendemos integrar al máximo posible las dos primeras tanto para ayudar a dinamizar las clases como para aportar soluciones a alumnos 
          con necesidades especiales de todo tipo, incluyendo aquellos alumnos que necesitan refuerzos y a los que se benefician con una
          ampliación del contenido.</p>
    </div>
      <div class="poweredbybubble float-lg-left"><img src="/img/skins/domadordedragones.png" width="200px" style="position: absolute; margin-top: -8.5rem;"></div>
  </div>
</div>
</div>

<div id="espectre" class="overflow-hidden text-center bg-light" data-image-src="/img/background-hero2" 
style="background-image: url(/img/background-hero2)">
<div class="onepagew" data-aos="fade-left" data-aos-delay="200">
  <div class="p-lg-5 my-5">
    <div class="descripcionesinversa">
      <h1>CIMEX</h1>
      <p>Cimex es nuestra herramienta número uno enfocada en la educación dinámica en las aulas. El modelo de aprendizaje se basa en el trabajo en equipo, 
        el desarrollo de estrategias 
        y la bonificación por la buena realización de las tareas y exámenes propuestos por los profesores.</p>
    </div>
      <img class="apartadosdiscleft" src="/img/bannerEspectre.png">
  </div>
</div>
</div>

<div id="comojugar" class="overflow-hidden" style="background-color: #242424;">

<div class="text-center" data-aos="fade-up" data-aos-delay="200">
  <div class="onepagem">
  <div class="col-md-6 p-5 my-5 mx-auto">
      
      <h1 class="onepaget">COMO JUGAR A CIMEX</h1>
        <p>Quienes se sumerjan en esta aventura deberán tener en mente algunos conceptos clave, estan todos resumidos en un gitbook.<br/>
          <br/>Visita el sitio web:
          <br/><a href="https://espectrethegame.gitbook.io/conceptos-basicos/" target="_blank">
          <br/><button class="btn btnvolver btn-lg" >Ir a Conceptos Basicos</button>
          </p></a>
    </div>
  </div>
</div>
</div>

<div id="porque" class="overflow-hidden text-center bg-light" data-image-src="/img/background-hero2" 
style="background-image: url(/img/background-hero2)">
<div class="onepagew" data-aos="fade-left" data-aos-delay="200">
  <div class="p-lg-5 my-5">
    <div class="descripcionesinversa">
      <h1>¿PORQUE?</h1>
      <p>Cimex nace con la intención de enseñar a los alumnos de una forma divertida la historia de la seguridad informática atraves de la immersión de los estudiantes en un juego interactivo con mensajes ocultos, actividades de encriptación y bonficación por realizar buenas tareas.</p></td>
    </div>
      <img class="apartadosdiscleft" src="/img/fantasyMap.png">
  </div>
</div>
</div>

<div id="sobrenosotros" class="overflow-hidden text-center" style="background-color: #242424;">

<div data-aos="fade-up" data-aos-delay="500">
  <div class="onepagem">
  <div class="col-md-6 p-lg-5 my-5">
      <div class="descripciones">
      <h1 class="onepaget">SOBRE NOSOTROS</h1>
        <p>El equipo detrás de Cimex está compuesto por tres estudiantes leridanos de <u>Sistemas Microinformáticos y Redes</u> de 17 Años con una gran iniciativa emprendedora y ganas de mejorar la educación con sus conocimientos.

          <div class="cartasfinal">
          <div class="contenedor">
          <div class="carta">
              <div class="lado frente"><img src="/img/Ignacio.jpg"></div>
              <div class="lado atras">
                <h4>Alejandro Berengena</h4><hr>
                <p><img src="/img/github.png" width="25px" height="25px">&nbsp;&nbsp;<a href="https://github.com/AlexBerenSobri" target="_blank">AlexBerenSobri</a></p><hr>
                <p class="desctarjetas">Soy un estudiante de<br/> SMX2-M y me gusta <br/>el Marketing y la Publicidad.</p><br/><hr>
              </div>
          </div>
        </div>

        <div class="contenedor">
          <div class="carta">
              <div class="lado frente"><img src="/img/Alex.jpg"></div>
              <div class="lado atras">
                <h4>Alex Madrigal</h4><hr>
                <p><img src="/img/github.png" width="25px" height="25px">&nbsp;&nbsp;<a href="https://github.com/AlexMadrigalAlriols" target="_blank">AlexMadrigalAlriols</a></p><hr>
                <p class="desctarjetas">Soy un estudiante de<br/> SMX2-M y me encanta <br/>la programación y el<br/>lenguaje de marcas.</p><br/><hr>
              </div>
          </div>
        </div>

        <div class="contenedor">
          <div class="carta">
              <div class="lado frente"> <img src="/img/Alba.PNG"></div>
              <div class="lado atras">
                <h4>Alba Serrano</h4><hr>
                <p><img src="/img/github.png" width="25px" height="25px">&nbsp;&nbsp;<a href="https://github.com/GoodLvck" target="_blank">GoodLvck</a></p><hr>
                <p class="desctarjetas">Soy una alumna de<br/> SMX2-M y me encanta <br/>la ciberseguridad y <br/></p><br/><hr>
              </div>

              </div>
          </div>
      </div>
      </p>
    </div>
  </div>
          </div>
</div>
</div>

