{{#if logro_msg}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error_msg}} <a href="/ingame/shop"><button class="btn btn-primary" style="background-color: green; color: white;">Comprar Defensas</button></a>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}