<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
    <div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-5 text-center">
            <div class="card-header">
                <h1>Account Login</h1>
            </div>
            <img src="/img/LogoEspectre.png" class="rounded-circle mx-auto d-block m-3 logo" alt="Logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email"
                        placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password"
                        placeholder="Password">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-block" style="background-color: #ff6d05; color: #242424;">
                            SignIn
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</ul>
    </div >
