<nav style="background-color: white;">
<a href="/"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver Atras</button></a>
</nav>

<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
    <div class="row" style="margin-top: 4rem;">
    <div class="col-md-4 mx-auto">
        <div class="card mt-5 text-center" style="background-color: rgba(255, 255, 255, 0.672);">
            <div class="card-header">
                <h1>Account Login</h1>
            </div>
            <img src="/img/LogoEspectre.png" class="rounded-circle mx-auto d-block m-3 logo" alt="Logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email"
                        placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password"
                        placeholder="Password">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btnvolver btn-block">
                            SignIn
                        </button>
                        <p class="mt-2">You do not have an account? <a href="/users/signup/">Register Here!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</ul>
    </div >
